<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mrkanapka.mrkanapkakotlin">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".application.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher_sandwich_brown"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_sandwich_brown_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:replace="android:icon,android:theme">
        <activity android:name=".HistoryDetail">
            <intent-filter>
                <action android:name="OPEN_ACTIVITY_1" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".view.HistoryOrderActivity">
        </activity>
        <activity android:name=".view.OrderSummaryActivity">
        </activity>
        <activity
                android:name=".ProfilUI"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".Main2Activity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".view.CartActivity">
        </activity>
        <activity android:name=".FoodDetail">
        </activity>
        <activity
                android:name=".LoginUI"
                android:theme="@style/AppTheme.Launcher"
                android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>

                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".RegisterUI"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <service
                android:name=".MyFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
                android:name=".MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/push_icon" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="CodeAndroid" />
    </application>

</manifest>